u { font-style: normal; font-weight: bold; text-decoration: none;}
em { font-style: normal; font-weight: bold; }
strong { font-style: normal; font-weight: bold; }
i { font-style: normal; font-weight: bold; }

u { color: orange; }
em { color: green; }
strong { color: blue; }
i {color: red; }